<ion-header>
  <custom-toolbar></custom-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     
    <ng-container>
      <ion-col size-xs="11" size-sm="8" size-md="8" size-lg="8" size-xl="8" offset-xs="0.5" offset-sm="2" offset-md="2" offset-lg="2" offset-xl="2"> 
        <div class="div-card1">
          <div class="div-card2">
            
            <div class="div-card-text ">
              <p class="title">¡INVITA A TUS AMIGOS!</p>
              <!-- <p class="paragraph">Apoya a que los eventos lleguen a más personas e invita a tus amigos a formar de esta comunidad para obtener logros dentro de la aplicación</p> -->
              <p class="paragraph">Obtén logros al invitar a tus amigos a descargar la app</p>
              <ion-img src="../assets/Friends.svg" class="event-img"></ion-img>
              <div class="code-zone"> 
                <p class="code">{{ code }}</p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ng-container>
      

    </ion-row>
  </ion-grid>
</ion-content>
