<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     
      <ng-container *ngFor="let evento of eventos | async">
      <ion-col size-xs="10" size-sm="3" size-md="3" size-lg="3" size-xl="3" offset-xs="1" offset-sm="2" offset-md="2" offset-lg="2" offset-xl="2"> 
        <div class="div-card1">
          <div class="div-card2">
           
            <div class="div-card-text">
              <p class="card-text">{{evento.nombre}}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ng-container>
      

    </ion-row>
  </ion-grid>
</ion-content>
