<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col class="ion-text-center" justify-content-center >
        <img src="assets/logo.svg"/>
      <h1>Verbatim dasdasdasd</h1>
    </ion-col>
    </ion-row>
    <ion-row >
      <ion-col justify-content-center size="12" size-lg="6" size-md="6" offset-lg="3" offset-md="3">
  
      <ion-card>
        <ion-card-header class="ion-text-center">
          
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
          <ion-row>
            <ion-col size="12">
          <ion-button expand="full" color="success" routerLink="/auth/register">Regístrate</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="12">
          <ion-button expand="full" color="primary"  routerLink="/auth/login">Inicia sesión</ion-button>
        </ion-col>
      </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>