<ion-content>
  <ion-grid>
    <ion-col justify-content-center size="12" size-lg="6" size-md="6" offset-lg="3" offset-md="3">  
      <div class="login">
        <img class="logo" src="assets/Logos/Minzal_Logotipo.png"/>
         <form [formGroup]= "loginForm" (keyup.enter)="submit()" (ngSubmit)="submit()">
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input name="username" type="text" formControlName="username" class="form-control" ></ion-input>
            </ion-item>
            <div class='errorLogin' *ngFor="let error of errorMessages.username">
              <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
                <ion-chip color="danger">
                  <ion-icon name="close-outline" color="red"></ion-icon>
                  <ion-label> {{error.message}}</ion-label>
                </ion-chip>                 </ng-container>
            </div>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" inputmode="password" type="password" ></ion-input>
            </ion-item>
            <div class='errorLogin' *ngFor="let error of errorMessages.password">
              <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                <ion-chip color="danger">
                  <ion-icon name="close-outline" color="red"></ion-icon>
                  <ion-label> {{error.message}}</ion-label>
                </ion-chip>                 </ng-container>
            </div>
            <br>

            <button class='submit' [disabled]="!loginForm.valid" type="submit" expand="block">
              <img src="../../../assets/Background/Buttom.svg">
            </button>
         </form>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>